@media only screen and (max-width: 1001px) {
    .nevigation .navOuterMain .navRight .rightInner {
        width: 500px;
        height: 260px;
    }

    .header .header_main .header_inenr .header_left .logoLink {
        font-size: 36px;
    }

    .header .header_main .header_inenr .header_right span svg {
        width: 30px;
        height: 35px;
    }

    .nevigation .navOuterMain .navLeft .navsplit ul {
        gap: 12px;
    }

    .nevigation .navOuterMain .navLeft .navsplit ul.forpading {
        padding-left: 0px !important;
        padding-right: 60px;
    }

    .nevigation .navOuterMain .navLeft {
        width: 30%;
    }

    .nevigation .navOuterMain .navRight {
        width: 70%;
    }

    .nevigation {
        height: auto;
    }
}


@media only screen and (max-width: 767px) {
    .nevigation .navOuterMain .navLeft {
        width: 100%;
    }

    .nevigation .navOuterMain {
        gap: 30px;
        padding: 0;
    }

    .nevigation .navOuterMain .navRight {
        width: 100%;
    }

    .nevigation .navOuterMain .navRight .rightInner {
        width: 100%;
        margin: 0;
    }

    .nevigation .navOuterMain .navLeft .navsplit ul.forpading {
        padding: 0;
    }

    .nevigation {
        height: 100%;
    }

    .homeSec1 .sec1Img {
        background-image: url(../Images/homeSec1Img2.jpg);
    }

    .homeSec1 .sec1Content h1 {
        font-size: 41px;
    }

    .homeSec2 .Sec2_container .Sec2Inner {
        flex-direction: column;
    }

    .homeSec2 .Sec2_container .Sec2Inner {
        margin: 0;
    }

    .homeSec2 .Sec2_container .Sec2Inner .sec2Left {
        width: 100%;
        order: 2;
    }

    .homeSec2 .Sec2_container .Sec2Inner .sec2Rigth {
        width: 100%;
    }

    .homeSec2 .Sec2_container .Sec2Inner {
        gap: 30px;
    }

    .homeSec2 .Sec2_container .Sec2Inner .sec2Rigth .Sec2Cntnt h3,
    .homeSec2 .Sec2_container .Sec2Inner .sec2Rigth .Sec2Cntnt p,
    .homeSec2 .Sec2_container .Sec2Inner .sec2Rigth .Sec2Cntnt h1 {
        text-align: center;
    }

    .homeSec2 .Sec2_container .Sec2Inner .sec2Rigth {
        padding: 0;
    }

    .homeSec2 {
        padding: 0 0 45px 0;
    }

    .homeSec2 .Sec2_container .Sec2Inner {
        padding: 0;
    }
}


@media only screen and (max-width: 575px) {
    /* .homeSec1 .sec1Img img {
        width: 130vh;
    } */

    .homeSec1 .sec1Content h1 {
        font-size: 29px;
        line-height: 1.5;
    }

    .homeSec2 .Sec2_container .Sec2Inner .sec2Rigth .Sec2Cntnt h1 {
        font-size: 26px;
    }
}


@media only screen and (max-width: 428px) {
    .header .header_main .header_inenr .header_left .logoLink {
        font-size: 26px;
    }

    .header .header_main .header_inenr .header_right span svg {
        width: 25px;
        height: 30px;
    }

    .nevigation .navOuterMain .navLeft .navinner {
        gap: 20px;
    }

    .nevigation .navOuterMain .navRight .rightInner .navCont a {
        margin-right: 0;
        font-size: 14px;
    }

    .homeSec1 .sec1Content h1 {
        font-size: 26px;
    }

    .homeSec2 .Sec2_container .Sec2Inner .sec2Rigth .Sec2Cntnt h1 {
        font-size: 20px;
    }
}


@media only screen and (max-width: 360px) {
    .homeSec1 .sec1Content h1 {
        font-size: 17px;
    }
}