@media only screen and (max-width: 1001px) {
    .nevigation .navOuterMain .navRight .rightInner {
        width: 500px;
        height: 260px;
    }

    .header .header_main .header_inenr .header_left .logoLink {
        font-size: 36px;
    }

    .header .header_main .header_inenr .header_right span svg {
        width: 30px;
        height: 35px;
    }

    .nevigation .navOuterMain .navLeft .navsplit ul {
        gap: 12px;
    }

    .nevigation .navOuterMain .navLeft .navsplit ul.forpading {
        padding-left: 0px !important;
        padding-right: 60px;
    }

    .nevigation .navOuterMain .navLeft {
        width: 30%;
    }

    .nevigation .navOuterMain .navRight {
        width: 70%;
    }

    .nevigation {
        height: auto;
    }
}

@media only screen and (max-width: 991px) {
    .footerInner .footerMain .footerLeft p br {
        display: none;
    }

    .aboutSec1 .aboutSec1Con {
        padding: 45px 0;
    }

    .aboutSec1 .aboutUpper img {
        height: 150vh;
    }
}


@media only screen and (max-width: 767px) {
    .nevigation .navOuterMain .navLeft {
        width: 100%;
    }

    .nevigation .navOuterMain {
        gap: 30px;
        padding: 0;
    }

    .nevigation .navOuterMain .navRight {
        width: 100%;
    }

    .nevigation .navOuterMain .navRight .rightInner {
        width: 100%;
        margin: 0;
    }

    .nevigation .navOuterMain .navLeft .navsplit ul.forpading {
        padding: 0;
    }

    .nevigation {
        height: 100%;
    }

    .homeSec1 .sec1Img {
        background-image: url(../Images/homeSec1Img2.jpg);
    }

    .homeSec1 .sec1Content h1 {
        font-size: 41px;
    }

    .homeSec2 .Sec2_container {
        padding: 30px 0;
    }

    .homeSec2 .Sec2_container .Sec2Inner {
        flex-direction: column;
    }

    .homeSec2 .Sec2_container .Sec2Inner {
        margin: 0;
    }

    .homeSec2 .Sec2_container .Sec2Inner .sec2Left {
        width: 100%;
        order: 2;
    }

    .homeSec2 .Sec2_container .Sec2Inner .sec2Rigth {
        width: 100%;
    }

    .homeSec2 .Sec2_container .Sec2Inner {
        gap: 30px;
    }

    .homeSec2 .Sec2_container .Sec2Inner .s .Sec2Cntnt p {
        margin: 0;
    }

    .homeSec2 .Sec2_container .Sec2Inner .sec2Rigth .Sec2Cntnt h3,
    .homeSec2 .Sec2_container .Sec2Inner .sec2Rigth .Sec2Cntnt p,
    .homeSec2 .Sec2_container .Sec2Inner .sec2Rigth .Sec2Cntnt h1 {
        text-align: center;
    }

    .homeSec2 .Sec2_container .Sec2Inner .sec2Rigth {
        padding: 0 32px;
    }

    .homeSec2 {
        padding: 0;
    }

    .homeSec2 .Sec2_container .Sec2Inner {
        padding: 0;
    }

    .homeSec3 .sec4Cont {
        padding: 0;
        justify-content: center;
        text-align: center;
    }

    .homeSec3 .sec4Cont p br {
        display: none;
    }

    .homeSec3 .sec4Cont h1 {
        font-size: 36px;
    }

    .homeSec3 .sec4Cont .meetBTN {
        justify-content: center;
        align-items: center;
    }

    .homeSec3 .sec4Cont p::after {
        left: 50%;
        transform: translateX(-50%);
    }

    .homeSec4 {
        padding: 30px 0;
    }

    .homeSec4 .secinner form,
    .homeSec4 .secinner {
        flex-direction: column;
    }

    .homeSec4 .secinner input.forNM {
        max-width: 100%;
    }

    .homeSec4 .secinner input.sibmit {
        display: inline;
        text-align: right;
    }

    .homeSec4 .secinner {
        gap: 10px;
    }

    .homeSec5 .sec5_container {
        padding: 0 25px;
    }

    .homeSec5 .sec5Cont form {
        width: 100%;
    }

    .footerInner .footerMain {
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footerInner .footerMain .footerLeft .footerBrand {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .footerInner .footerMain .footerLeft p {
        text-align: center;
    }

    .footerInner .footerMain .footerRight .footer_nav {
        gap: 45px !important;
        text-align: center;
    }

    .footerInner .footerMain .footerRight .footerBNT {
        text-align: center;
    }

    .footerInner .footerLower p {
        padding-left: 0;
        text-align: center;
    }

    .footerInner .footerMain .footerLeft .footerBrand .footerLoogo a {
        font-size: 36px;
    }

    .contactsec1 .consecImg {
        background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../Images/consecImg1.jpg');
    }

    .contactsec1 .contSec1cont.forpadding,
    .contactsec1 .contSec1cont,
    .contactsec1 .contSec1cont.locpadding {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contactsec1 .contSec1cont .container h1 {
        font-size: 43px;
    }

    .contactsec1 .contSec1cont.locpadding .loctitle,
    .contactsec1 .contSec1cont .container h1.title {
        font-size: 43px;
    }

    .blogSec2 .sectionInner {
        flex-direction: column;
    }

    .contactsec1 .consecImg.locationImg1 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../Images/location1.jpg');
    }

    .locSec1 .locSecImg .locmain .locInner {
        flex-direction: column;
    }

    .footerInner .footerMain .footerLeft .footerBrand {
        gap: 0;
    }

    .locSec1 .locSecImg .locmain .locInner .left,
    .locSec1 .locSecImg .locmain .locInner .right {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .locSec1 .locSecImg .locationsec2Img {
        height: 128vh;
    }

    .locSec1 .locSecImg .locmain .locInner .left .leftInner h1 {
        text-align: left;
    }

    .locSec1 .locSecImg .locmain .locInner .left .leftInner .locBTN,
    .locSec1 .locSecImg .locmain .locInner .left .leftInner .leftLinks {
        justify-content: flex-start;
        align-items: start;
    }

    .locSec1 .locSecImg .locmain .locInner .left .leftInner {
        margin: 0;
    }

    .contactsec1 .consecImg.aboutImg1 {
        position: relative;
        background-image: linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../Images/aboutImg2.jpg');
    }

    .aboutSec1 .aboutSec1Con .aboutInner {
        flex-wrap: wrap;
        margin-top: 45px;
    }

    .aboutSec1 .aboutUpper img {
        height: 284vh;
    }

    .aboutSec1 .aboutSec1Con .aboutInner .innercont {
        width: 46%;
    }

    .aboutSec1 h1 {
        text-align: center;
    }
}




@media only screen and (max-width: 600px) {
    .homeSec3 .secImg img {
        height: 100vh;
    }

    .locSec1 .locSecImg .locmain .locInner .left .leftInner h1 {
        font-size: 26px;
    }

    .locSec1 .locSecImg .locmain .locInner .left .leftInner .leftLinks {
        gap: 5px;
    }

    .locSec1 .locSecImg .locmain .locInner .left .leftInner .locBTN {
        margin-top: 20px;
    }

    .locSec1 .locSecImg .locmain .locInner .right .rightInner .rightCon p br {
        display: none;
    }

    .locSec1 .locSecImg .locmain .locInner {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
    }

    .locSec1 .locSecImg .locmain .locInner {
        gap: 20px;
    }

    .locSec1 .locSecImg .locmain .locInner .right .rightInner .rightCon {
        padding-top: 15px;
    }

    .locSec1 .locSecImg .locmain .locInner .right .rightInner .rightCon h1 {
        margin-bottom: 12px;
    }

    .aboutSec1 .aboutSec1Con .aboutInner .innercont {
        width: 100%;
        gap: 15px;
    }

    .aboutSec1 .aboutUpper img {
        height: 280vh;
    }

    aboutSec1 {
        font-size: 36px;
    }

    .aboutSec1 .aboutSec1Con {
        padding: 20px 0;
    }

    .aboutSec1 .aboutSec1Con .aboutInner .innercont img {
        width: 210px;
        height: 210px;
    }

    .aboutSec1 .aboutSec1Con .aboutInner .innercont h3 {
        margin-top: 5px;
    }

}

@media only screen and (max-width: 575px) {
    /* .homeSec1 .sec1Img img {
        width: 130vh;
    } */

    .homeSec1 .sec1Content h1 {
        font-size: 29px;
        line-height: 1.5;
    }

    .homeSec2 .Sec2_container .Sec2Inner .sec2Rigth .Sec2Cntnt h1 {
        font-size: 26px;
    }

    .homeSec3 .secImg {
        background-image: linear-gradient(to right, rgba(15, 15, 15, 0.8), rgba(15, 15, 15, 0.8)), url('../Images/homeSec3Img1.jpg');
    }

    .homeSec5 .sec5Cont form .inputOuter {
        flex-direction: column;
    }

    .homeSec5 .sec5Cont form .inputOuter.subimt {
        align-items: end;
    }

    .blogSec2 .sectionInner .secmain .blogCon h1 {
        font-size: 26px;
    }

    .aboutSec1 .aboutSec1Con .aboutInner .innercont p {
        letter-spacing: 0;
    }
}

@media only screen and (max-width: 500px) {
    .aboutSec1 .aboutUpper img {
        height: 290vh;
    }
}

@media only screen and (max-width: 500px) {
    .aboutSec1 .aboutUpper img {
        height: 295vh;
    }
}


@media only screen and (max-width: 428px) {
    .header .header_main .header_inenr .header_left .logoLink {
        font-size: 26px;
    }

    .header .header_main .header_inenr .header_right span svg {
        width: 25px;
        height: 30px;
    }

    .nevigation .navOuterMain .navLeft .navinner {
        gap: 20px;
    }

    .nevigation .navOuterMain .navRight .rightInner .navCont a {
        margin-right: 0;
        font-size: 14px;
    }

    .homeSec1 .sec1Content h1 {
        font-size: 26px;
    }

    .homeSec2 .Sec2_container .Sec2Inner .sec2Rigth .Sec2Cntnt h1 {
        font-size: 20px;
    }

    .homeSec3 .secImg img {
        height: 80vh;
    }

    .homeSec3 .sec4Cont h1 {
        font-size: 26px;
    }

    .homeSec3 .sec4Cont p {
        font-size: 13px;
        line-height: 1.4;
    }

    .homeSec3 .secImg img {
        height: 70vh;
    }

    .homeSec5 .sec5Cont h1 {
        font-size: 36px;
        text-align: center;
    }

    .contactsec1 .contSec1cont.locpadding .loctitle,
    .contactsec1 .contSec1cont .container h1.title {
        font-size: 36px;
    }

    .locSec1 .locSecImg .locmain .locInner .left .leftInner h1 {
        font-size: 20px;
    }

    .locSec1 .locSecImg .locmain .locInner .left .leftInner .leftLinks .locLinks {
        font-size: 12px;
    }

    .locSec1 .locSecImg .locmain .locInner .left .leftInner .locBTN a {
        font-size: 14px;
    }

    .locSec1 .locSecImg .locmain .locInner .right .rightInner .rightCon h1 {
        font-size: 22px;
    }

    .locSec1 .locSecImg .locmain .locInner .right .rightInner .LocSlider .locMainSlide img {
        height: 217px;
    }

    .aboutSec1 h1 {
        font-size: 30px;
    }

    .aboutSec1 .aboutUpper img {
        height: 300vh;
    }
}

@media only screen and (max-width: 427px) {
    .aboutSec1 .aboutUpper img {
        height: 315vh;
    }
}

@media only screen and (max-width: 381px) {
    .aboutSec1 .aboutUpper img {
        height: 324vh;
    }
}

@media only screen and (max-width: 378px) {
    aboutSec1 {
        font-size: 26px;
    }

    .aboutSec1 .aboutSec1Con {
        padding: 0px 0;
    }

    .aboutSec1 .aboutSec1Con .aboutInner {
        margin-top: 20px;
    }

    .aboutSec1 .aboutSec1Con .aboutInner .innercont img {
        width: 190px;
        height: 190px;
    }

    .aboutSec1 .aboutSec1Con .aboutInner .innercont p {
        letter-spacing: 0;
        font-size: 13px;
        text-align: center;
        margin: 0;
    }

    .aboutSec1 .aboutUpper img {
        height: 280vh;
    }
}


@media only screen and (max-width: 360px) {
    .homeSec1 .sec1Content h1 {
        font-size: 17px;
    }

    .homeSec3 .secImg img {
        height: 80vh;
    }

    .homeSec3 .sec4Cont h1 {
        font-size: 23px;
    }

    .homeSec5 .sec5Cont h1 {
        font-size: 30px;
    }

    .contactsec1 .contSec1cont.locpadding .loctitle,
    .contactsec1 .contSec1cont .container h1.title {
        font-size: 30px;
    }

    .contactsec1 .contSec1cont .container h3 {
        font-size: 11px;
    }
}

@media only screen and (max-width:355px) {
    .aboutSec1 .aboutUpper img {
        height: 290vh;
    }
}

@media only screen and (max-width:336px) {
    .aboutSec1 .aboutUpper img {
        height: 299vh;
    }
}

@media only screen and (max-width:321px) {
    .aboutSec1 .aboutUpper img {
        height: 305vh;
    }
}