/* for the fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans JP', sans-serif; */


/* staring styling */


/* header */
.header {
    position: fixed;
    z-index: 110;
    width: 100%;
    /* background-color: #ccc; */
    padding: 16px 0;
}

.nevigation {
    position: fixed;
    width: 100%;
    height: 371px;
    background-color: rgba(15, 15, 15, 0.9);
    top: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all .6s ease-in-out;
}

.nevigation .navOuterMain {
    padding: 27px 0 20px 0;
    transition: all .2s ease-in-out;
}

.nevigation .navOuterMain .navLeft .menuSocualIcons {
    display: flex;
    align-items: center;
    gap: 17px;
    padding-left: 3.5px;
}

.nevigation .navOuterMain .navLeft {
    width: 22%;
    padding-top: 17px;
}

.nevigation .navOuterMain .navLeft .navsplit {
    padding-top: 74px;
    padding-left: 4px;
}

.nevigation .navOuterMain .navLeft .navsplit ul.forpading {
    padding-left: 89px !important;
}

.nevigation .navOuterMain .navLeft .navsplit ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.nevigation .navOuterMain .navLeft .navsplit ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
}

.nevigation .navOuterMain .navLeft .navsplit ul li a:hover {
    color: rgba(254, 195, 3, 1);
}

.nevigation .navOuterMain .navRight {
    width: 87%;
}

.nevigation .navOuterMain .navRight .rightInner {
    position: relative;
    width: 586px;
    height: 293px;
    margin: auto 10% auto auto;
}

.nevigation .navOuterMain .navRight .rightInner .navCont {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(15, 15, 15, 0.4);
    display: flex;
    justify-content: center;
    align-items: end;
}

.nevigation .navOuterMain .navRight .rightInner .navCont a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1.801px;
    text-decoration: none;
    margin-bottom: 18px;
    margin-right: 24px;
}

.nevigation .navOuterMain .navRight .rightInner .navCont a span {
    text-decoration: none;
    color: rgba(254, 195, 3, 1);
    margin-left: 9px;
}

.nevigation .navOuterMain .navRight .rightInner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nevigation .navOuterMain .navLeft .navinner {
    gap: 52px;
}

.nevigation .navOuterMain .navLeft .navinner .navsplit ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.openNavMenu {
    opacity: 1;
    visibility: visible;
}

.header .header_main .header_inenr {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.header .header_main .header_inenr .header_left .logoLink {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 41px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    letter-spacing: 1.99px;
}

.header .header_main .header_inenr .header_left .logoLink p {
    margin: 0;
}

.header .header_main .header_inenr .header_left .logoLink span {
    color: rgba(254, 195, 3, 1);
    padding-left: 2px;
}

.header .header_main .header_inenr .header_right span {
    display: block;
    padding: 5.3px 2.61px 0 0;
    cursor: pointer;
}

.header .header_main .header_inenr .header_right span svg {
    transform: rotate(-58deg);
}

/* homeSec1 */
.homeSec1 {
    position: relative;
}

.homeSec1 .sec1Img {
    background-image: linear-gradient(to right, rgba(15, 15, 15, 0.4), rgba(15, 15, 15, 0.4)), url('../Images/homeSec1Img1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.homeSec1 .sec1Content {
    position: absolute;
    left: 15.3px;
    right: 0;
    bottom: 73px;
}

.homeSec1 .sec1Content h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.801px;
}

.homeSec1 .sec1Content h1 a {
    text-decoration: none;
    color: rgba(254, 195, 3, 1);
    margin-left: 9px;
}

.homeSec1 .sec1Img img {
    width: 100%;
    height: 100vh;
    opacity: 0;

}

.homeSec2 {
    padding: 90px 0;
}

.homeSec2 .Sec2_container {
    max-width: 1132px;
    width: 100%;
    margin: auto;
    padding: 13px;

}

.homeSec2 .Sec2_container .Sec2Inner {
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: flex-end; */
    align-items: end;
    /* gap: 30px; */
    padding-bottom: 45px;
    border-bottom: 1px solid #fff;
    margin-left: 48px;
}

.homeSec2 .Sec2_container .Sec2Inner .sec2Left {
    width: 37.4%;
}

/* .homeSec2 .Sec2_container .Sec2Inner .sec2Left .sec2Img {
    padding-left: 48px;
} */

.homeSec2 .Sec2_container .Sec2Inner .sec2Rigth {
    width: 63%;
    padding-left: 41px;
}

.homeSec2 img {
    width: 100%;
}

.homeSec2 .Sec2_container .Sec2Inner .sec2Rigth .Sec2Cntnt h3 {
    color: rgba(254, 195, 3, 1);
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
}

.homeSec2 .Sec2_container .Sec2Inner .sec2Rigth .Sec2Cntnt h1 {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.05em;
    font-size: 32px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.homeSec2 .Sec2_container .Sec2Inner .sec2Rigth .Sec2Cntnt p {
    color: rgba(255, 255, 255, 1);
    line-height: 1.9;
    letter-spacing: 0em;
    font-size: 14px;
    text-align: justify;
    font-family: 'Noto Sans JP';
    font-weight: 300;
    font-style: normal;
}

.homeSec2 .Sec2_container .meetBTN {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    padding: 30px 0 0 0;
}

.homeSec2 .Sec2_container .meetBTN a {
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .3px;
}

.homeSec2 .Sec2_container .meetBTN a:hover {
    color: rgba(254, 195, 3, 1);
}


/* homeSec3 */
.homeSec3 {
    position: relative;
}

.homeSec3 .secImg {
    background-image: linear-gradient(to right, rgba(15, 15, 15, 0.6), rgba(15, 15, 15, 0.6)), url('../Images/homeSec3Img1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.homeSec3 .secImg img {
    width: 100%;
    opacity: 0;
}

.homeSec3 .sec4Cont {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 22px;
}

.homeSec3 .sec4Cont h3 {
    color: rgba(254, 195, 3, 1);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: .6px;
    font-weight: 600;
    text-transform: uppercase;
}

.homeSec3 .sec4Cont h1 {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.05em;
    font-size: 43px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.homeSec3 .sec4Cont p {
    color: rgba(255, 255, 255, 1);
    line-height: 1.9;
    font-size: 14px;
    font-family: 'Noto Sans JP';
    font-weight: 300;
    font-style: normal;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 10px;
}

.homeSec3 .sec4Cont p:after {
    position: absolute;
    content: '';
    display: block;
    max-width: 370px;
    width: 100%;
    height: 1px;
    background-color: #fff;
    left: 0;
    bottom: 0;
}

.homeSec3 .sec4Cont .meetBTN {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    padding: 20px 0 0 0;
}

.homeSec3 .sec4Cont .meetBTN a {
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .3px;
}

.homeSec3 .sec4Cont .meetBTN a:hover {
    color: rgba(254, 195, 3, 1);
}


/* homeSec4 */
.homeSec4 {
    background-color: rgba(254, 195, 3, 1);
    padding: 20px 0;
}

.homeSec4 .secinner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.homeSec4 .secinner h1 {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 43px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.homeSec4 .secinner form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.homeSec4 .secinner input.forNM {
    outline: none;
    border: 1px solid #ffffff93;
    background-color: transparent;
    padding: 7px 10px;
    max-width: 280px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    caret-color: #fff;
    font-weight: 400;
    color: #fff;
    font-size: 14px;

}

.homeSec4 .secinner input::placeholder {
    color: #fff;
    font-size: 13px;
}

.homeSec4 .secinner input.sibmit {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 7px 10px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    margin-left: 30px;
    transition: all .2s ease-in-out;
}

.homeSec4 .secinner input.sibmit:hover {
    color: #000;
}


/* homeSec5 */
.homeSec5 {
    position: relative;
}

.homeSec5 .sec5_container {
    max-width: 1223px;
    width: 100%;
    margin: auto;
    padding: 0 13px;
}

.homeSec5 .secImg {
    background-image: linear-gradient(to right, rgba(15, 15, 15, 0.6), rgba(15, 15, 15, 0.6)), url('../Images/homeSec5Img2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.homeSec5 .secImg img {
    width: 100%;
    opacity: 0;
    height: 110vh;
}

.homeSec5 .sec5Cont {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.homeSec5 .sec5Cont h1 {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 43px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.homeSec5 .sec5Cont form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 62%;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
}

.homeSec5 .sec5Cont form .inputOuter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.homeSec5 .sec5Cont form .inputOuter input {
    outline: none;
    border: 1px solid #ffffff93;
    background-color: transparent;
    padding: 10px 7px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    caret-color: #fff;
    font-weight: 400;
    color: #fff;
    font-size: 14px;
}

.homeSec5 .sec5Cont form .inputOuter.textareaOuter textarea::placeholder,
.homeSec5 .sec5Cont form .inputOuter input::placeholder {
    color: #b8b8b8;
    font-size: 13px;
    text-transform: capitalize;
}

.homeSec5 .sec5Cont form .inputOuter.textareaOuter textarea {
    width: 100%;
    background-color: transparent;
    resize: none;
    outline: none;
    border: 1px solid #ffffff93;
    font-family: 'Montserrat', sans-serif;
    caret-color: #fff;
    color: #fff;
    padding: 10px;
}

.homeSec5 .sec5Cont form .inputOuter.subimt {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.homeSec5 .sec5Cont form .inputOuter.subimt input {
    display: inline-block;
    width: auto;
    border: none;
    color: rgba(254, 195, 3, 1);
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 17px;
}



/* footerInner */
.footerInner {
    padding: 45px 0 30px 0;
    background-color: #000;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
}

.footerInner .footerMain {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.footerInner .footerMain .footerLeft {
    display: flex;
    flex-direction: column;
}

.footerInner .footerMain .footerLeft .footerBrand {
    display: flex;
    gap: 45px;

}

.footerInner .footerMain .footerLeft .footerBrand .footerLoogo a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 41px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    letter-spacing: 1.99px;
}

.footerInner .footerMain .footerLeft .footerBrand .footerLoogo a span {
    color: rgba(254, 195, 3, 1);
    padding-left: 2px;
}

.footerInner .footerMain .footerLeft p {
    color: rgba(75, 75, 75, 1);
    line-height: 1.9;
    letter-spacing: 0em;
    font-size: 14px;
    text-align: justify;
    font-family: 'Noto Sans JP';
    font-weight: 300;
    font-style: normal;
}

.footerInner .footerMain .footerLeft .footerBrand .footerIcon {
    display: flex;
    align-items: center;
    gap: 17px;
}

.footerInner .footerMain .footerRight .footer_nav {
    gap: 45px;
}

.footerInner .footerMain .footerRight .footer_nav ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footerInner .footerMain .footerRight .footer_nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
}

.footerInner .footerMain .footerRight .footer_nav ul li a:hover {
    color: rgba(254, 195, 3, 1);
}

.footerInner .footerMain .footerRight .footerBNT {
    margin-top: 20px;
}

.footerInner .footerMain .footerRight .footerBNT a {
    display: inline-block;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    border: none;
    color: rgba(254, 195, 3, 1);
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.footerInner .footerLower p {
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.1em;
    font-size: 12px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding-top: 30px;
    padding-left: 45px;
}





/* contactsec1 */
.contactsec1 {
    position: relative;
}

.contactsec1 .consecImg {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../Images/menuImg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.contactsec1 .consecImg img {
    width: 100%;
    opacity: 0;
    height: 100vh;
}

.contactsec1 .contSec1cont {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 20.77%;
    text-align: center;
}

.contactsec1 .contSec1cont .container h3 {
    color: rgba(254, 195, 3, 1);
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    letter-spacing: 1.3px;
    font-weight: 700;
    text-transform: uppercase;
}

.contactsec1 .contSec1cont .container h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 56.3px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 24px;
    /* letter-spacing: 1.801px; */
}



.contactsec1 .consecImg.blogImg {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../Images/homeSec1Img1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.contactsec1 .contSec1cont.forpadding {
    padding-top: 21.8%;
}

.contactsec1 .contSec1cont .container h1.title {
    margin-top: 12px;
    font-size: 50px;
    letter-spacing: 2.5px;
}


/* blogSec2 */
.blogSec2 .sectionInner .secmain {
    position: relative;
}

.blogSec2 .sectionInner .secmain .blogCon {
    position: absolute;
    bottom: 51px;
    left: 62px;
    color: #ffff;
}

.blogSec2 .sectionInner .secmain .blogCon h3 {
    color: rgba(254, 195, 3, 1);
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    letter-spacing: 1.3px;
    font-weight: 700;
    text-transform: uppercase;
}

.blogSec2 .sectionInner .secmain .blogCon h1 {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.blogSec2 .sectionInner .secmain .blogLink .blogImg.blogImg1 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../Images/blogimg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
}

.blogSec2 .sectionInner .secmain .blogLink .blogImg.blogImg2 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../Images/blogimg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
}

.blogSec2 .sectionInner .secmain .blogLink .blogImg.blogImg2:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../Images/blogimg2.jpg);
}

.blogSec2 .sectionInner .secmain .blogLink .blogImg.blogImg1:hover {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../Images/blogimg1.jpg);
    transition: all .5s ease-in-out;
}

.blogSec2 .sectionInner .secmain .blogLink .blogImg img {
    width: 100%;
    height: 100vh;
    opacity: 0;
}


/* location */
.contactsec1 .consecImg.locationImg1 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../Images/homeSec3Img1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.contactsec1 .contSec1cont.locpadding {
    padding-top: 21.34%;
}

.contactsec1 .contSec1cont.locpadding .loctitle {
    margin-top: 25px;
    letter-spacing: 2.09 px;
    font-size: 56.1px;
}

/* locSec1 */
.locSec1 .locSecImg {
    position: relative;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../Images/homeSec1Img1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.locSec1 .locSecImg .locationsec2Img {
    width: 100%;
    height: 110vh;
    object-fit: cover;
    opacity: 0;

}

.locSec1 .locSecImg .locmain {
    position: absolute;
    background-color: rgba(15, 15, 15, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.locSec1 .locSecImg .locmain .locInner {
    /* position: absolute;
    top: 0;
    left: 0; */
    background-color: rgba(15, 15, 15, 0.7);
    max-width: 1105px;
    width: 100%;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 32px;
}

.locSec1 .locSecImg .locmain .locInner .left {
    width: 34.6%;
}

.locSec1 .locSecImg .locmain .locInner .right {
    width: 60%;
    padding-left: 26px;
}

.locSec1 .locSecImg .locmain .locInner .left .leftInner {
    display: flex;
    flex-direction: column;
    margin-left: 33px;
}

.locSec1 .locSecImg .locmain .locInner .left .leftInner h1 {
    border-bottom: 1px solid #fff;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.05em;
    font-size: 32px;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.locSec1 .locSecImg .locmain .locInner .left .leftInner .leftLinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    gap: 10px;
}

.locSec1 .locSecImg .locmain .locInner .left .leftInner .leftLinks .locLinks {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1.4px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.locSec1 .locSecImg .locmain .locInner .left .leftInner .leftLinks .locLinks:hover {
    color: rgba(254, 195, 3, 1);
}

.locSec1 .locSecImg .locmain .locInner .left .leftInner .locBTN {
    margin-top: 57px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
}

.locSec1 .locSecImg .locmain .locInner .left .leftInner .locBTN a {
    text-decoration: none;
    color: rgba(254, 195, 3, 1);
    font-size: 16px;
    letter-spacing: 1.6px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.locSec1 .locSecImg .locmain .locInner .right .rightInner .LocSlider .locMainSlide img {
    width: 100%;
    height: 230px;
}

.locSec1 .locSecImg .locmain .locInner .right .rightInner .LocSlider svg.slick_prevs.slick-arrow {
    position: absolute;
    left: 0;
    top: 50%;
    /* transform: translateY(-50%); */
    z-index: 10;
    transform: translateY(-50%) rotate(180deg);
}

.locSec1 .locSecImg .locmain .locInner .right .rightInner .LocSlider svg.slick_next.slick-arrow {
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

.locSec1 .locSecImg .locmain .locInner .right .rightInner .rightCon {
    padding-top: 25px;
}

.locSec1 .locSecImg .locmain .locInner .right .rightInner .rightCon h1 {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 0.05em;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.locSec1 .locSecImg .locmain .locInner .right .rightInner .rightCon p {
    color: #fff;
    line-height: 1.9;
    letter-spacing: 0em;
    font-size: 14px;
    text-align: justify;
    font-family: 'Noto Sans JP';
    font-weight: 300;
    font-style: normal;
    margin: 0;
}


.contactsec1 .consecImg.aboutImg1 {
    position: relative;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Images/aboutImg1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* aboutSec1 */
.aboutSec1 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../Images/blogimg1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px;
}

.aboutSec1 .aboutInner {
    max-width: 1107px;
    width: 100%;
    margin: auto;
    padding: 0 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 45px;
}

.aboutSec1 h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 42px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 24px;
    text-align: center;
    /* letter-spacing: 1.801px; */
}

.aboutSec1 .aboutInner .innercont {
    text-align: center;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.aboutSec1 .aboutInner .innercont img {
    width: 264px;
    height: 264px;
    margin: auto;
    object-fit: cover;
    border-radius: 60%;
    text-align: center;
}

.aboutSec1 .aboutInner .innercont h3 {
    color: rgba(254, 195, 3, 1);
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    letter-spacing: 1.3px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.aboutSec1 .aboutInner .innercont p {
    color: #fff;
    line-height: 1.9;
    letter-spacing: 0em;
    font-size: 14px;
    text-align: justify;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-style: normal;
}

.aboutSec1 .aboutInner .innercont a {
    display: inline-block;
    width: auto;
    font-family: Montserrat, sans-serif;
    border: none;
    color: rgb(254, 195, 3);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}


.reviewSec1 .reveiwInner {
    position: relative;
    overflow: hidden;
}

.reviewSec1 .reveiwInner .mainNavSlide {
    position: absolute;

    top: 17%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.reviewSec1 .reveiwInner .mainNavSlide .inner {
    max-width: 1100px;
    width: 10%;
    margin: auto;
    padding: 45px 60px;
    background-color: rgba(0, 0, 0, .7);
    display: block !important;
    display: flex;
}

.reviewSec1 .reveiwInner img {
    width: 100%;
}

.reviewSec1 .reveiwInner .mainNavSlide .inner .reSlideCon {
    display: flex;
}

.reviewSec1 .reveiwInner .mainNavSlide .inner .reSlideCon .left {
    width: 40%;
}

.reviewSec1 .reveiwInner .mainNavSlide .inner .reSlideCon .right {
    width: 60%;
}

.reviewSec1 .reveiwInner .mainNavSlide .inner .reSlideCon .right p {
    color: #fff;
    line-height: 1.9;
    font-size: 14px;
    text-align: justify;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-style: normal;
}